:root {
  --extension-primary: #930ed2;
  --extension-primary-light: #c06de7;
  --extension-primary-dark: #681f8a;
  --extension-secondary: #0e22d2;
  --extension-white: #fffcf9;
}

@font-face {
  font-family: 'Manrope';
  src: url('chrome-extension://__MSG_@@extension_id__/Manrope-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 1 100 900;
  font-style: normal;
}

.muse-highlight {
  outline: 1px solid var(--extension-secondary);
}

.muse-selected {
  outline: 2px solid var(--extension-primary);
}

.muse-popup {
  display: none;
  color: black;

  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  z-index: 9999;

  background: #fff;
  border: 1px solid var(--extension-white);
  border-radius: 16px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);

  font-family: 'Manrope', monospace;
  font-size: 16px;

  padding: 12px;

  transition: top 0.2s ease-in-out, left 0.2s ease-in-out;
}

.muse-popup > textarea {
  box-sizing: border-box;

  width: 100%;
  height: 100px;
  resize: none;
  border: none;
  outline: none;
  font-family: 'Manrope', monospace;
  border: 1px solid #aaa;
  font-size: 16px;
  padding: 12px;
  border-radius: 8px;

  margin: 8px 0;
}

.muse-popup > textarea:focus {
  border: 1px solid var(--extension-primary);
}

.muse-popup > button {
  border: none;

  font-weight: bold;

  background: var(--extension-primary);
  color: var(--extension-white);
  border-radius: 8px;
  padding: 8px 12px;

  font-family: 'Manrope', monospace;
  font-size: 16px;
}

.muse-popup > button:hover {
  background: var(--extension-primary-dark);

  cursor: pointer;
}

.muse-popup > p {
  margin: 0;
}

.muse-toggle {
  position: absolute;
  background: white;

  top: 0;
  left: 0;

  margin-left: 8px;
  margin-top: 8px;

  background: var(--extension-primary);
  color: var(--extension-white);
  border-radius: 8px;

  font-family: 'Manrope', monospace;
  font-size: 16px;
}
